# Ignorer tout SAUF dist/, fichiers source et assets
*
!.gitignore
!dist/
!dist/**
!main.py
!image_button.py
!questions_loader.py
!config.txt
!icon.ico
!questions/
!questions/**
!assets/
!assets/**

# Python
__pycache__/
*.pyc
*.pyo

# PyInstaller
build/
*.spec

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
